{
  "projects": {
    "wed": {
      "repo": {
        "url": ""
      },
      "project": {
        "default_branch": ""
      },
      "local_data": {
        "app_path": "/tmp/deploy/wed",
        "extract_dir": "/tmp",
        "user": "www-data:www-data"
      }
    },
    "agnona": {
      "repo": {
        "url": "",
        "user": "",
        "password": ""
      },
      "project": {
        "default_branch": "development"
      },
      "local_data": {
        "app_path": "/tmp/deploy/agnona",
        "extract_dir": "/tmp",
        "user": "www-data:www-data"
      }
    }
  }
}